*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.small-container{
    max-width: 900px;
    margin: 0 auto;
}

ol, ul, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}
button{
    border: none;
}

/*HEADER*/

.header{
    height: 90px;
    padding: 26px 0;
}
.row{
    display: flex;
}
.row_nav{
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
}

.nav-list{
    text-transform: uppercase;
    font-weight: bold;
}
.row_nav_list{
    gap: 40px;
}
.row_nav_list_items{
    font-size: 15px;
}
.arrow_nav{
    width: 10px;
}
.search_icon{
    margin-right: 50px;
    
}
.row_social_list{
    gap: 20px;
}
.row_social_list_items{
    width: 20px;
}

/*HERO*/

.hero{
    height: 800px;
    background-image: url(../img/blog03.jpg);
    position: relative;
}
.hero_titles{
    padding-top: 250px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.small_title{
    font-size: 15px;
}
.big_title{
    font-size: 60px;
    margin-top: 20px;
}
.hero_button{
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    margin-top: 50px;
}
.left_arrow{
    position: absolute;
    width: 15px;
    left: 25px;
    top: 50%;
}
.right_arrow{
    position: absolute;
    width: 15px;
    right: 25px;
    top: 50%;
}

/*PELICULA SECTION AND BEST MOVIES*/

.pelicula_titles, .best_movies_titles, .team_titles, .articles_titles{
    padding-top: 115px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.pelicula_small_title, .best_movies_small_title, .team_title, .articles_small_title{
    font-size: 15px;
    margin-bottom: 30px;
}
.pelicula_big_title, .best_movies_big_title, .team_title, .articles_big_title{
    font-size: 35px;
    margin-bottom: 50px;
}
.row_pelicula, .row_best_movies{
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.row_pelicula{
    row-gap: 50px;
    column-gap: 100px;
}
.row_best_movies{
    row-gap: 45px;
    column-gap: 25px;
}
.col-3{
    flex-basis: calc(100% / 3 - 80px);
}
.pelicula_img{
    width: 85px;
    margin-bottom: 25px;
}
.best_movies_img{
    width: 450px;
    margin-bottom: 25px;
}
.col_title, .team_name{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}
.col_subtitle, .team_specialization{
    font-size: 13px;
    color: gray;
    text-align: center;
}
.bottom_items{
    margin-bottom: 115px;
}

/*ABOUT US SECTION*/

.about_us{
    height: 575px;
    background-image: url(../img/About-Us.jpg);
    color: white;
}
.row_about_us{
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}
.about_us_titles{
    text-transform: uppercase;
}
.subtitle_about_us{
    padding-top: 120px;
    font-size: 12px;
    margin-bottom: 25px;
}
.title_about_us{
    font-size: 25px;
    margin-bottom: 40px;
}
.button_about_us{
    width: 180px;
    height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 45px;
}
/*OUR NUMBERS SECTION + LOGOS SECTION*/
.our_numbers_background{
    background-image: url(../img/Parallax-01.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.logos_background{
    background-image: url(../img/Parallax-03.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.our_numbers, .logos{
    height: 310px;
    color: white;
    text-transform: uppercase;
}
.row_our_numbers, .row_logos{
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.col_our_numbers, .col_logos{
    padding-top: 150px;
    text-align: center;
}
.our_numbers_title{
    font-size: 40px;
}
.our_numbers_subtitle{
    font-size: 18px;
}

/* TEAM SECTION*/

.row_team{
    margin-top: 40px;
    gap: 35px;
}
.team_img{
    width: 350px;
}
.team_name{
    margin-top: 25px;
}

/*COMMENTS SECTION*/

.comments{
    height: 600px;
    background-image: url(../img/Parallax-02.jpg);
    color: white;
    text-align: center;
}

.row_comments{
    justify-content: center;
    align-items: center;
}

.direction{
    flex-direction: column;
    padding-top: 150px;
}

.icon_comments{
    font-size: 50px;
    margin-bottom: 45px;
}
.p_comments{
    margin-bottom: 25px;
    font-size: 20px;
}
.col_img, .col_name{
    margin-right: 20px;
    margin-bottom: 25px;
}
.img_comments{
    width: 60px;
    border-radius: 50%;
}
.name_comments{
    text-transform: uppercase;
    font-size: 20px;
}
.dots{
    margin-right: 12px;
}

/*ARTICLES SECTION*/
.row_articles{
    gap: 30px;
}
.articles_img{
    width: 450px;
}
.articles_date{
    margin-top: 20px;
    color: gray;
    font-size: 12px;
}
.articles_description{
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.articles_p{
    margin-top: 20px;
}

/*COLLABORATE SECTION*/

.collaborate{
    margin-top: 90px;
}
.row_collaborate{
    gap: 60px;
}
.col_collaborate{
    flex-basis: calc(100% / 2 - 60px);
}
.collaborate_subtitle, .collaborate_title{
    text-transform: uppercase;
    margin-bottom: 35px;
}
.collaborate_subtitle{
    font-size: 12px;
}
.collaborate_title{
    font-size: 25px;
}
.collaborate_p{
    line-height: 25px;
}
.row_form{
    gap: 30px;
}
.col_form{
    flex-basis: calc(100% / 2 - 30px);
}
.input_form{
    margin-bottom: 30px;
    width: 325px;
    height: 50px;
    background-color: lightgray;
    border: none;
    padding-left: 30px;
}
.textarea_form{
    width: 680px;
    height: 190px;
    background-color: lightgray;
    border: none;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 10px;
}
.submit_form{
    width: 680px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-bottom: 120px;
}

/*FOOTER SECTION*/

.footer{
    background-color: black;
    color: white;
}
.row_footer{
    padding-top: 110px;
    gap: 100px;
    justify-content: space-around;
}
.footer_items{
    line-height: 30px;
}
.footer_titles{
    text-transform: uppercase;
    font-weight: bold;
}
.footer_icons{
    margin-right: 20px;
}
.input_footer{
    background-color: #1C1C1C;
    border: none;
    padding-left: 10px;
}
.button_footer{
    display: block;
    margin-top: 17px;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}