*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.small-container{
    max-width: 900px;
    margin: 0 auto;
}

ol, ul, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}
button{
    border: none;
}
/*HEADER*/
.header{
    height: 90px;
    padding: 26px 0;
}
.row{
    display: flex;
}
.row_nav{
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
}

.nav-list{
    text-transform: uppercase;
    font-weight: bold;
}
.row_nav_list{
    gap: 40px;
}
.row_nav_list_items{
    font-size: 15px;
}
.arrow_nav{
    width: 10px;
}
.search_icon{
    margin-right: 50px;
    
}
.row_social_list{
    gap: 20px;
}
.row_social_list_items{
    width: 20px;
}
/*HERO*/
.hero{
    height: 800px;
    background-image: url(../img/blog03.jpg);
    position: relative;
}
.hero_titles{
    padding-top: 250px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.small_title{
    font-size: 15px;
}
.big_title{
    font-size: 60px;
    margin-top: 20px;
}
.hero_button{
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    margin-top: 50px;
}
.left_arrow{
    position: absolute;
    width: 15px;
    left: 25px;
    top: 50%;
}
.right_arrow{
    position: absolute;
    width: 15px;
    right: 25px;
    top: 50%;
}
/*PELICULA SECTION*/
.pelicula_titles{
    padding-top: 115px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.pelicula_small_title{
    font-size: 15px;
    margin-bottom: 30px;
}
.pelicula_big_title{
    font-size: 35px;
    margin-bottom: 50px;
}
.row_pelicula{
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    column-gap: 100px;
}
.col-3{
    flex-basis: calc(100% / 3 - 80px);
}
.pelicula_img{
    width: 85px;
    margin-bottom: 25px;
}
.col_title{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.bottom-p{
    margin-bottom: 115px;
}